.works {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.works__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.works__box {
  @include centeredFlex;
  position: absolute;
  bottom: 0;
  background-color: $worksBoxBackground;
  height: 70px;
  width: 100%;
}

.works__title {
  color: $primaryWhiteColor;
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
