.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section--nopaddingtop {
  padding-top: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.section--otherbackground {
  background-color: $bgdColorSection;
}
