.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section--nopaddingtop {
  padding-top: 0;
}

.section--otherbackground {
  background-color: $bgdColorSection;
}
