.socials-box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    text-align: left;
  }
}

.socials-box__subtitle {
  color: $primaryWhiteColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  @include centeredFlex;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: $iconPrimaryColor;

  transition: background-color 250ms $cubic, fill 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accentColor;
    fill: $primaryWhiteColor;
  }
}

.socials__link--white {
  fill: $primaryWhiteColor;
  background-color: $iconBackgroundColor;

  transition: background-color 250ms $cubic;
}

.socials__icon {
  width: 20px;
  height: 20px;
}
