.portfolio__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 30px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.card {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 404px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    height: 440px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    height: 404px;
  }

  background-color: $primaryWhiteColor;
}

.card__link {
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px $boxshadow6, 0px 4px 4px $boxshadow7, 0px 1px 1px $boxshadow3;
  }
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__popup {
  display: flex;
  align-items: center;
  text-align: left;

  overflow: hidden;

  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;

  padding-left: 24px;
  padding-right: 24px;

  background-color: $accentColorTransp;
  color: $primaryWhiteColor;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  transition: transform 250ms $cubic;

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(-100%);
  }
}

.card__thumb {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: solid 1px $cardBorderColor;
  border-right: solid 1px $cardBorderColor;
  border-bottom: solid 1px $cardBorderColor;

  text-align: left;
}

.card__subtitle {
  color: $primaryColor;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__description {
  margin-top: 4px;

  color: $secondaryColor;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
