.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgdColorAccent;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    gap: 0px;
  }
}

.footer__box {
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 262px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    flex-grow: 1;
  }
}

/* footer logo */
.footer__logo {
  color: $primaryWhiteColor;
}

/* footer socials */

.footer__socials {
  margin-top: 20px;
}
