address {
  margin-top: 20px;
  font-style: normal;
}

.address__item {
  margin-top: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms $cubic;
}

.address__map {
  color: $primaryWhiteColor;

  &:focus,
  &:hover {
    color: $accentColor;
  }
}

.address__email,
.address__phone {
  color: $darkGreyColor;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
