.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  @include centeredFlex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondaryColor;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
