.contacts {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__icon {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts__icon--envelope {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon--mobile {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.contacts__item {
  margin-right: 50px;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  @include centeredFlex;
  color: $secondaryColor;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $cubic;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
