.menu {
  @media screen and (max-width: 767px) {
    height: 40px;
  }
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.menu-icon__close {
  display: none;
}

.menu__button.js-open-menu .menu-icon__close {
  display: block;
}

.menu__button.js-open-menu .menu-icon__open {
  display: none;
}
