$primaryColor: #212121;
$secondaryColor: #757575;
$primaryWhiteColor: #ffffff;
$accentColorTransp: rgba(33, 150, 243, 0.9);
$accentColor: #2196f3;
$logoColor: #000000;
$bgdColorSection: #f5f4fa;
$bgdColorAccent: #2f303a;
$iconPrimaryColor: #afb1b8;
$iconBackgroundColor: rgba(255, 255, 255, 0.1);
$modalBackground: rgba(0, 0, 0, 0.2);
$darkGreyColor: rgba(255, 255, 255, 0.6);
$subscribeBorderColor: rgba(255, 255, 255, 0.3);
$modalBorderColor: rgba(33, 33, 33, 0.2);
$placeholderColor: rgba(117, 117, 117, 0.5);
$buttonAccentColor: #188ce8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$boxShadowMain: rgba(0, 0, 0, 0.15);
$headerBorderColor: #ececec;
$gradientHero: rgba(47, 48, 58, 0.4);
$worksBoxBackground: rgba(47, 48, 58, 0.8);
$boxshadow1: rgba(0, 0, 0, 0.2);
$boxshadow2: rgba(0, 0, 0, 0.14);
$boxshadow3: rgba(0, 0, 0, 0.12);
$boxshadow4: rgba(0, 0, 0, 0.08);
$boxshadow5: rgba(0, 0, 0, 0.1);
$boxshadow6: rgba(0, 0, 0, 0.16);
$boxshadow7: rgba(0, 0, 0, 0.06);
$boxshadow8: rgba(0, 0, 0, 0.04);
$cardBorderColor: #eeeeee;
